<section class='not-prose'>
  <hr />
  <div class='container lg:px-24 xl:px-48 mx-auto px-4 py-4'>
    <div class='text-center py-4'>
      <div class='text-gray-900 text-3xl mb-2 font-semibold'>
        Over 30+ fresh recipes every week
      </div>
      <div class='text-base xl:w-2/4 lg:w-3/4 mx-auto text-gray-700'>
        Easy meals designed by professional chefs and nutritionists
      </div>
    </div>
    <div class='carousel space-x-4 h-80'>
      <div class='carousel-item w-72 bg-base-100'>
        <div
          class='w-full flex flex-col justify-end p-2 rounded-md'
          style='background-image: url(https://api.lorem.space/image/burger?w=384&h=462);'
        >
          <h2 class='text-white uppercase font-semibold text-3xl my-2'>
            MEAT & VEGGIES
          </h2>
          <div
            class='bg-orange-300 w-fit text-gray-900 px-2 rounded-md text-base font-semibold uppercase'
          >
            OUR MOST POPULAR PLAN
          </div>
        </div>
      </div>
      <div class='carousel-item w-72 bg-base-100'>
        <div
          class='w-full flex flex-col justify-end p-2 rounded-md'
          style='background-image: url(https://api.lorem.space/image/pizza?w=384&h=462);'
        >
          <h2 class='text-white uppercase font-semibold text-3xl my-2'>
            VEGGIE
          </h2>
          <div
            class='bg-green-300 w-fit text-gray-900 px-2 rounded-md text-base font-semibold uppercase'
          >
            PLANT-BASED MEALS
          </div>
        </div>
      </div>
      <div class='carousel-item w-72 bg-base-100'>
        <div
          class='w-full flex flex-col justify-end p-2 rounded-md'
          style='background-image: url(https://api.lorem.space/image/burger?w=384&h=462);'
        >
          <h2 class='text-white uppercase font-semibold text-3xl my-2'>
            FAMILY FRIENDLY
          </h2>
          <div
            class='bg-blue-300 w-fit text-gray-900 px-2 rounded-md text-base font-semibold uppercase'
          >
            KID-TESTED RECIPES
          </div>
        </div>
      </div>
      <div class='carousel-item w-72 bg-base-100'>
        <div
          class='w-full flex flex-col justify-end p-2 rounded-md'
          style='background-image: url(https://api.lorem.space/image/pizza?w=384&h=462);'
        >
          <h2 class='text-white uppercase font-semibold text-3xl my-2'>
            FIT & WHOLESOME
          </h2>
          <div
            class='bg-orange-300 w-fit text-gray-900 px-2 rounded-md text-base font-semibold uppercase'
          >
            FOR A BALANCED LIFESTYLE
          </div>
        </div>
      </div>
      <div class='carousel-item w-72 bg-base-100'>
        <div
          class='w-full flex flex-col justify-end p-2 rounded-md'
          style='background-image: url(https://api.lorem.space/image/burger?w=384&h=462);'
        >
          <h2 class='text-white uppercase font-semibold text-3xl my-2'>
            QUICK & EASY
          </h2>
          <div
            class='bg-red-300 w-fit text-gray-900 px-2 rounded-md text-base font-semibold uppercase'
          >
            FOR BUSY WEEKNIGHTS
          </div>
        </div>
      </div>
      <div class='carousel-item w-72 bg-base-100'>
        <div
          class='w-full flex flex-col justify-end p-2 rounded-md'
          style='background-image: url(https://api.lorem.space/image/pizza?w=384&h=462);'
        >
          <h2 class='text-white uppercase font-semibold text-3xl my-2'>
            PESCATARIAN
          </h2>
          <div
            class='bg-gray-500 w-fit text-gray-900 px-2 rounded-md text-base font-semibold uppercase'
          >
            SEAFOOD & VEGGIE MEALS
          </div>
        </div>
      </div>
    </div>
    <button
      class='btn btn-outline btn-primary mx-auto flex normal-case px-8 text-base my-12'
      >View our menus</button
    >
  </div>
  <hr />
</section>
