<section class='bg-gray-50 flex flex-col mx-auto'>
  <div
    class='section w-full flex flex-col items-center justify-between gap-4 py-8'
  >
    <div class='text-gray-900 text-5xl mb-2 font-medium'>More questions?</div>
    <div class='w-5/6 xl:w-3/4 flex flex-col gap-4'>
      <div
        tabindex='0'
        class='collapse collapse-arrow border border-base-300 bg-base-100 rounded-box'
      >
        <input type='checkbox' />
        <div class='collapse-title text-xl font-medium'>
          How does HelloFresh’s meal kit delivery service work?
        </div>
        <div class='collapse-content'>
          <p>
            Our meal delivery service allows you to skip meal planning and
            grocery shopping. HelloFresh delivers step-by-step recipes and
            fresh, pre-portioned ingredients right to your door. First, you set
            your meal plan preferences with options for carnivores, vegetarians,
            calorie-counters, and more. You’ll choose from 30+ delicious weekly
            recipes carefully put together by our chefs. Then, you’ll receive
            those recipes with easy-to-follow instructions on the day of your
            choosing. You can skip a week or cancel anytime if your needs change
          </p>
        </div>
      </div>
      <div
        tabindex='0'
        class='collapse collapse-arrow border border-base-300 bg-base-100 rounded-box'
      >
        <input type='checkbox' />
        <div class='collapse-title text-xl font-medium'>
          Which food meal plans & recipes does HelloFresh offer?
        </div>
        <div class='collapse-content'>
          <p>
            HelloFresh has the most variety in terms of recipes—from meat &
            veggies, to low-carb and low-calorie options, and more. You can
            choose from six delicious meal plan preferences—each one offers 27+
            sumptuous weekly recipes crafted by professional chefs and nutrition
            specialists. With HelloFresh, you have the power to choose according
            to your preference and lifestyle. Our low-calorie meal kits, for
            instance, feature dietician-approved recipes that contain only about
            650 calories. Meanwhile, our family-friendly meal delivery
            preference allows you to get easy and delicious recipes that even
            your kids will love. What’s more: you can always upgrade to Gourmet
            Recipes and include add-ons like garlic bread.
          </p>
        </div>
      </div>
      <div
        tabindex='0'
        class='collapse collapse-arrow border border-base-300 bg-base-100 rounded-box'
      >
        <input type='checkbox' />
        <div class='collapse-title text-xl font-medium'>
          How many times a week does HelloFresh deliver?
        </div>
        <div class='collapse-content'>
          <p>
            Once a week. You can expect your meal kits to arrive between 8 am to
            8 pm. We deliver anywhere in the United States, except Alaska and
            Hawaii.
          </p>
        </div>
      </div>
      <div
        tabindex='0'
        class='collapse collapse-arrow border border-base-300 bg-base-100 rounded-box'
      >
        <input type='checkbox' />
        <div class='collapse-title text-xl font-medium'>
          Does HelloFresh give nutrition & calorie information?
        </div>
        <div class='collapse-content'>
          <p>
            Absolutely! We guarantee that every single one of our meal kits is
            appropriately labeled. They have all the nutritional facts you’re
            looking for like calorie content and the amount of carbohydrates,
            protein, dietary fiber, sugar, sodium, unsaturated and saturated
            fat, and cholesterol.
          </p>
        </div>
      </div>
      <div
        tabindex='0'
        class='collapse collapse-arrow border border-base-300 bg-base-100 rounded-box'
      >
        <input type='checkbox' />
        <div class='collapse-title text-xl font-medium'>
          Does HelloFresh support a healthy lifestyle?
        </div>
        <div class='collapse-content'>
          <p>
            Yes. HelloFresh offers a wide array of flavorful and nutritious meal
            kit menu options that cater to a range of dietary needs, making use
            of crisp, seasonal vegetables and other fresh produce.
          </p>
        </div>
      </div>
      <div
        tabindex='0'
        class='collapse collapse-arrow border border-base-300 bg-base-100 rounded-box'
      >
        <input type='checkbox' />
        <div class='collapse-title text-xl font-medium'>
          Can I skip a week of delivery?
        </div>
        <div class='collapse-content'>
          <p>
            Yes. With our meal subscription service, you are always in control.
            If you don’t want to receive a meal kit on a particular week, you
            don’t have to. To avoid charges when skipping a week, you simply
            need to “pause” your meal kit order or cancel your meal subscription
            after logging into your account.Pausing or canceling your meal
            delivery orders should be done by 11:59 pm PST, five days before
            your next delivery schedule. Note that you will be charged on all
            orders that you failed to cancel before the cut-off date.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
