<section id='feature' class='text-gray-600 bg-gray-50'>
  <div class='container px-5 py-4 mx-auto'>
    <div class='text-center mb-20'>
      <h2 class='text-gray-900 mb-4'>Why Hello Fresh?</h2>
      <p
        class='text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-600'
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        consequuntur pariatur, vero dicta ipsa amet facere voluptas numquam,
        odit odio obcaecati.
      </p>
      <div class='flex mt-6 justify-center'>
        <div class='w-16 h-1 rounded-full bg-primary inline-flex'></div>
      </div>
    </div>
    <div
      class='flex flex-col md:flex-row md:space-y-0 space-y-6 lg:px-24 xl:px-48'
    >
      <div class='p-4 md:w-1/4 flex flex-col text-center items-center'>
        <div
          class='w-20 h-20 inline-flex items-center justify-center rounded-full bg-green-100 text-primary mb-5 flex-shrink-0'
        >
          <svg
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            class='w-10 h-10'
            viewBox='0 0 24 24'
          >
            <path d='M22 12h-4l-3 9L9 3l-3 9H2'></path>
          </svg>
        </div>
        <div class='flex-grow'>
          <h4 class='text-gray-900'>No skimpin’ on the chicken!</h4>
          <p class='leading-relaxed text-base px-4'>
            Or steak, or fish, or plant protein.
          </p>
        </div>
      </div>
      <div class='p-4 md:w-1/4 flex flex-col text-center items-center'>
        <div
          class='w-20 h-20 inline-flex items-center justify-center rounded-full bg-green-100 text-primary mb-5 flex-shrink-0'
        >
          <svg
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            class='w-10 h-10'
            viewBox='0 0 24 24'
          >
            <circle cx='6' cy='6' r='3'></circle>
            <circle cx='6' cy='18' r='3'></circle>
            <path d='M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12'></path>
          </svg>
        </div>
        <div class='flex-grow'>
          <h4 class='text-gray-900'>No commitment whatsoever</h4>
          <p class='leading-relaxed text-base px-4'>
            Skipping weeks or cancelling is super easy.
          </p>
        </div>
      </div>
      <div class='p-4 md:w-1/4 flex flex-col text-center items-center'>
        <div
          class='w-20 h-20 inline-flex items-center justify-center rounded-full bg-green-100 text-primary mb-5 flex-shrink-0'
        >
          <svg
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            class='w-10 h-10'
            viewBox='0 0 24 24'
          >
            <path d='M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2'></path>
            <circle cx='12' cy='7' r='4'></circle>
          </svg>
        </div>
        <div class='flex-grow'>
          <h4 class='text-gray-900'>The most 5-star reviews</h4>
          <p class='leading-relaxed text-base px-4'>
            Our huge recipe selection wows week after week.
          </p>
        </div>
      </div>
      <div class='p-4 md:w-1/4 flex flex-col text-center items-center'>
        <div
          class='w-20 h-20 inline-flex items-center justify-center rounded-full bg-green-100 text-primary mb-5 flex-shrink-0'
        >
          <svg
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            class='w-10 h-10'
            viewBox='0 0 24 24'
          >
            <path
              d='M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7'
            ></path>
          </svg>
        </div>
        <div class='flex-grow'>
          <h4 class='text-gray-900'>Fresh and affordable</h4>
          <p class='leading-relaxed text-base px-4'>
            Chef-created deliciousness from $7.49 per meal.
          </p>
        </div>
      </div>
    </div>
    <button
      class='btn btn-outline btn-primary mx-auto flex normal-case px-8 text-base my-4'
      >Get started</button
    >
  </div>
</section>
