<div
  class='container bg-base-100 p-4 lg:px-48 flex flex-col 2xl:flex-row mx-auto items-center justify-between'
>
  <figure>
    <img
      class='rounded-md'
      src='https://picsum.photos/id/686/555/350/'
      alt='Album'
    />
  </figure>
  <div class='flex flex-col items-center not-prose'>
    <h2 class='text-3xl font-semibold'>What’s inside each box?</h2>
    <ul class='list-none py-4'>
      <li class='py-1'>✓ Easy-to-follow recipes with clear nutritional info</li>
      <li class='py-1'>
        ✓ High-quality ingredients sourced straight from the farm
      </li>
      <li class='py-1'>
        ✓ Convenient meal kits that fit perfectly in the fridge
      </li>
      <li class='py-1'>
        ✓ A fun cooking experience that makes you feel unstoppable
      </li>
    </ul>
    <div class='flex flex-row justify-end'>
      <button class='btn btn-primary'>View our plans</button>
    </div>
  </div>
</div>
