<section class='not-prose'>
  <div class='container lg:px-12 xl:px-24 mx-auto px-4 py-8'>
    <div class='text-center py-4'>
      <div class='text-gray-900 text-3xl mb-2 font-semibold'>
        Cook it. Love it. Tag it #HelloFreshPics
      </div>
      <div class='text-base mx-auto text-gray-700'>
        Follow us on Instagram @hellofresh
      </div>
    </div>
    <!-- 4 images in a row representing instagram posts with username and caption centered below -->
    <div class='hidden xl:flex xl:flex-row justify-between w-full gap-4'>
      <div class='flex flex-col items-center justify-center'>
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/1/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 px-4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
      <div class='flex flex-col items-center justify-center'>
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/2/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 px-4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
      <div class='flex flex-col items-center justify-center'>
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/3/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 px-4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
      <div class='flex flex-col items-center justify-center'>
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/4/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 px-4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
    </div>
    <div class='carousel xl:hidden w-full'>
      <div
        class='flex flex-col items-center justify-center carousel-item w-64 mr-12'
      >
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/1/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 w-3/4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
      <div
        class='flex flex-col items-center justify-center carousel-item w-64 mr-12'
      >
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/2/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 w-3/4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
      <div
        class='flex flex-col items-center justify-center carousel-item w-64 mr-12'
      >
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/3/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 w-3/4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
      <div class='flex flex-col items-center justify-center carousel-item w-64'>
        <img
          class='w-64 h-64 object-cover rounded-lg'
          src='https://picsum.photos/seed/4/400/600'
          alt='hellofresh'
        />
        <div class='text-gray-900 text-base font-semibold mt-4'>
          @hellofresh
        </div>
        <div class='text-gray-700 text-sm text-center mt-2 w-3/4'>
          This is a caption for the image above. It should be short and sweet.
        </div>
      </div>
    </div>
  </div>
</section>
