<div class='navbar bg-base-100 shadow-md py-0 sticky top-0 z-10 px-4'>
  <div class='navbar-start'>
    <!-- MOBILE -->
    <div class='dropdown'>
      <label tabindex='0' class='btn btn-ghost lg:hidden p-0'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-5 w-5'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
          ><path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M4 6h16M4 12h8m-8 6h16'></path>
        </svg>
      </label>
      <ul
        tabindex='0'
        class='menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52'
      >
        <li><a>Our Plans</a></li>
        <li><a>How It Works</a></li>
        <li tabindex='0'>
          <a class='justify-between'>
            Our Menus
            <svg
              class='fill-current'
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              ><path
                d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'
              ></path>
            </svg>
          </a>
          <ul class='p-2 shadow bg-base-100 rounded-box'>
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Gift Cards</a></li>
        <li tabindex='0'>
          <a class='justify-between'>
            Sustainability
            <svg
              class='fill-current'
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              ><path
                d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'
              ></path>
            </svg>
          </a>
          <ul class='p-2 shadow bg-base-100 rounded-box'>
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a
      class='btn btn-ghost text-lg sm:text-xl uppercase hover:bg-primary-content'
      >🍋 Hello Fresh</a
    >
    <!-- DESKTOP -->
    <div class='hidden lg:flex'>
      <ul class='menu menu-horizontal p-0 min-h-full'>
        <li>
          <a class='hover:bg-primary-content hover:text-green-900'>Our Plans</a>
        </li>
        <li>
          <a class='hover:bg-primary-content hover:text-green-900'
            >How It Works</a
          >
        </li>
        <li tabindex='0'>
          <a class='hover:bg-base-100'>
            Our Menus
            <svg
              class='fill-current'
              xmlns='http://www.w3.org/2000/svg'
              width='20'
              height='20'
              viewBox='0 0 24 24'
              ><path
                d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z'
              ></path>
            </svg>
          </a>
          <ul class='p-2 shadow bg-base-100 rounded-box'>
            <li>
              <a class='hover:bg-primary-content hover:text-green-900'
                >Submenu 1</a
              >
            </li>
            <li>
              <a class='hover:bg-primary-content hover:text-green-900'
                >Submenu 2</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class='hover:bg-primary-content hover:text-green-900'>Gift Cards</a
          >
        </li>
        <li tabindex='0'>
          <a class='hover:bg-base-100'>
            Sustainability
            <svg
              class='fill-current'
              xmlns='http://www.w3.org/2000/svg'
              width='20'
              height='20'
              viewBox='0 0 24 24'
              ><path
                d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z'
              ></path>
            </svg>
          </a>
          <ul class='p-2 shadow bg-base-100 rounded-box'>
            <li>
              <a class='hover:bg-primary-content hover:text-green-900'
                >Submenu 1</a
              >
            </li>
            <li>
              <a class='hover:bg-primary-content hover:text-green-900'
                >Submenu 2</a
              >
            </li>
            <li>
              <a class='hover:bg-primary-content hover:text-green-900'
                >Submenu 3</a
              >
            </li>
            <li>
              <a class='hover:bg-primary-content hover:text-green-900'
                >Submenu 4</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class='navbar-end'>
    <a
      class='btn btn-outline btn-primary px-4 sm:px-8 text-lg normal-case font-normal min-h-8 h-10'
      >Log in</a
    >
  </div>
</div>
