<div
  class='hero bg-cover bg-left-top'
  style='background-image: url(https://picsum.photos/id/517/1920/1080/);'
>
  <div class='hero-overlay bg-opacity-20'></div>
  <div class='hero-content text-center text-gray-100 py-16'>
    <div class='max-w-md not-prose'>
      <h1 class='text-gray-100 text-6xl font-bold'>Flexible Plans</h1>
      <p class='text-xl my-8 font-semibold'>to meet your household's needs</p>
      <button class='btn btn-primary normal-case text-base px-10'
        >View our plans</button
      >
    </div>
  </div>
</div>
